:root {
  --black: #000;
  --white: #ffffff;
  --input-bg: #f7f7f7;
  --nav-color: #1976d2;
  --primary-color: #FFD700;
  --popup-bg: #2f2f2f;
  --text-dark: #333;
  --nav-height: 150px;
}

/* Prevent body from being hidden when dialog opens */
.MuiDialog-root {
  overflow: visible !important;
}

.body-video {
  font-family: system-ui;
  color: #fff;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1; /* Place it behind the content */
}

/* Ensure the rest of your content is above the video */
.App {
  position: relative;
  z-index: 1;
  /* Other styling as needed */
}

.video-bg {
  position: fixed; /* Fixed position to cover the whole screen */
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1; /* Place it behind the content */
}

nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #00022e, #000000); /* Original gradient */
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
}

.nav__links a {
  position: relative;
  text-decoration: none;
  font-family: system-ui;
  color: var(--white);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.5px;
  padding: 0 10px;
  transition: color 0.3s;
}

.nav__links a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.nav__links a:hover {
  color: var(--primary-color);
}

.nav__links a:hover::before {
  width: 100%;
}

.nav-user-menu {
  margin-right: 20px; /* Adjust the space as needed */
}

.nav-user-menu {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-menu button {
  display: block;
  padding: 8px 16px;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  color: #000;
  margin: 5px auto;
}

.dropdown-menu button:hover {
  background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  position: relative;
  z-index: 2;
}

.content-text-box {
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  color: #ffffff;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  margin: auto; /* Center the box */
  max-width: 600px; /* Adjust the width as needed */
}

.content {
  text-align: center;
  max-width: 600px;
  margin: 2rem;
}

.content h1 {
  font-size: 2.3rem;
  font-weight: 300;
  color: var(--primary-color);
}

.content p {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--white);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

h5{
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 0px;
  color: var(--primary-color);
}

button {
  padding: 10px 20px;
  background-color: #1976d2;
  color: #fff;
  border: 1px solid #00022e; /* Add a 2px solid border with the desired color */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 5px;
  font-size: 16px;
  margin: 20px auto;
  display: block;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 1000;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background: #000015;
  margin: 8% auto;
  padding: 40px;
  width: 80%;
  max-width: 350px;
  border-radius: 10px;
  position: relative;
  transition: transform 0.3s, opacity 0.3s;
  transform: scale(0.9);
  opacity: 0;
}

.modal.show .modal-content {
  transform: scale(1);
  opacity: 1;
}

.close {
  position: absolute;
  right: 545px;
  top: 120px;
  font-size: 30px;
  color: gray;
  cursor: pointer;
}

.close:hover {
  color: #fff;
}

input[type="text"]:focus, input[type="password"]:focus {
  border-color: #fff;
  outline: none;
}

.forgot-password {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.forgot-password:hover {
  color: #1976d2;
}

.toggle-section {
  text-align: center;
  margin-bottom: 10px;
}

.toggle-section span {
  cursor: pointer;
  color: #fff;
  transition: color 0.3s;
}

.toggle-section span:hover {
  color: #1976d2;
}

.login-button {
  margin-right: 20px; /* Adjust this value as needed */
}

/* Additional styles for Swiper */
.swiper-container {
  width: 100%;
  height: 600px; /* Adjusted height */
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  background-size: cover;
  background-position: center;
}


.slide-text-box {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translateY(-50%);
  width: 30%; /* Adjusted width */
  padding: 10px; /* Adjusted padding */
  background-color: #4d515484; 
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}

.slide-text-box button {
  display: inline-block;
  margin-left: 0; /* Aligns the button to the left */
  margin-right: auto;
  margin-top: 10px; /* Adds some space above the button */
  margin-bottom: 10px;
}


.about-us-box {
  text-align: center;
  font-size: 36px; /* Big font size */
  font-weight: bold;
  padding: 20px;
  background: linear-gradient(to right, #00022e, #000000); /* black gradient */
  color: #ffffff; /* Text color */
   margin-left: auto;
  margin-right: auto;
}

.footer {
  background: linear-gradient(to right, #00022e, #000000);
  color: white;
  padding: 20px;
  position: relative;
  bottom: 0;
  height: 50px;
}

.footer p {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

.footer a {
  color: #1976d2;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

.logo img {
  width: 108px;
  vertical-align: middle; /* Vertically center the logo if your nav items are inline */
}

/* Feedback message styles */
/* Keyframe animation to make element visible for 7 seconds */
@keyframes stayVisibleThenDisappear {
  0%, 99% { opacity: 1; } /* Stay fully visible for 99% of the time */
  100% { opacity: 0; }    /* Become invisible at the very end */
}

/* Styles for the feedback message */
.feedback-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: auto;
  max-width: 80%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: stayVisibleThenDisappear 7s forwards; /* Apply the new animation for 7 seconds */
}

/* Styles for different feedback types */
.feedback-message.success {
  background-color: #e6f4ea;
  color: #1e4620;
  border: 1px solid #b7e1cd;
}

.feedback-message.error {
  background-color: #fbeaea;
  color: #611a1c;
  border: 1px solid #f8c2c4;
}

.feedback-message.info {
  background-color: #e0f7fa;
  color: #09525c;
  border: 1px solid #b4e5e7;
}


/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white black;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 30px;
}

menu{
  color: var(--input-bg);
}


/* SliderStyles.css */
.paperContainer {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 16px; /* 2 in spacing units */
  background-color: #1976d2; /* Replace with the appropriate color */
}

/* SliderStyles.css */
.imageBox {
  height: 400px; /* Increased height */
  display: block;
  max-width: 600px; /* Increased max-width */
  overflow: hidden;
  width: 100%;
}

.MuiMenu-root,
.MuiDialog-root {
  overflow: visible !important;
}

body {
  overflow: auto !important;
}

.MuiPopover-root {
  overflow: visible !important;
}

.embla {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  will-change: transform;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
}
